<div id='graph_div' class="center_div_table_poup_nopacity" style="position:absolute;display:none">
<div style='float:right'><span class='div_tab' onclick='show_form("graph_div")'>x</span>
 </div>

<input type='hidden' id='search_account' value=''>
<select id='account_month' class="simple_borders">
<option value='1'>
Январь
</option>
<option value='2'>
Февраль
</option>
<option value='3'>
Март
</option>
<option value='4'>
Апрель
</option>
<option value='5'>
Май
</option>
<option value='6'>
Июнь
</option>
<option value='7'>
Июль
</option>
<option value='8'>
Август
</option>

<option value='9'>
Сентябрь
</option>
<option value='10'>
Октябрь
</option>
<option value='11'>
Ноябрь
</option>

<option value='12'>
Декабрь
</option>

</select>
<select id='account_year' class="simple_borders">
<option value='2008'>
2008
</option>
<option value='2009'>
2009
</option>
<option value='2010'>
2010
</option>

</select>
<input type='button' onclick='show_account_income()' value='Показать'>
<img src='' id='account_image' style='display:none' />
</div>