<div id='date_comment_form' class="center_div_table_poup_nopacity" style="position:absolute;display:none">
<div style='float:right'><span class='div_tab' onclick='show_form("date_comment_form")'>x</span>
</div>
<table class="table_gborders">
<tbody>
    <tr class="table_gborders">
    <input type='hidden' value='' id='comment_date'>
    <input type='hidden' value='$aid' id='aid'>

    <input type='hidden' value='' id='return_id'>

        <td class="table_gborders">
        Примечание :
        </td>

        <td class="table_gborders">
        
     <input class="simple_borders"  size="60" 
            id="date_сomment" 
            name="comment" 
            value="комментарий" type="text">

        </td>
  </tr>

    <tr class="table_gborders">
    <td class="table_gborders" colspan="2">
   <input class="simple_borders"    
          name="__submit" 
          value="Сохранить" 
          type="button" 
          onclick='date_comment_change()'>
   <input class="simple_borders" id="id" onclick='show_form("date_comment_form")' name="__cancel" value="Закрыть" type="button">      
    </td>
  </tr>
 
</tbody>
</table>
</div>